.table__copy,
.table__images {
  border: 1px solid var(--color30);
  word-break: break-all;
}

.table__images_head {
  text-align: center;
  background-color: var(--color20);
}

.table__copy_body td,
.table__images_body td {
  border-top: 1px solid var(--color30);
}

.table__copy_body td:not(:last-of-type),
.table__images_body td:not(:last-of-type) {
  border-right: 1px solid var(--color30);
}

.table__error {
  color: red;
}

.table__text {
  text-align: center;
}

.table__rotate {
  text-align: center;
}

.table__rotate .icon {
  margin: 0.5em;
  padding: 0.25em;
  background-color: var(--color20);
  border-radius: 0.25em;
  transition: opacity 0.25s linear;
  cursor: pointer;
}
.table__rotate .icon:hover {
  opacity: 0.65;
}
