.table__rotate_btn {
  display: inline-block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  padding: 0.25em;
  background-color: var(--color20);
  border-radius: 0.25em;
  transition: opacity 0.25s linear;
  cursor: pointer;
}
.table__rotate_btn:hover {
  opacity: 0.65;
}
.table__rotate_btn .consumer {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
}
