.table__copy,
.table__images {
  border: 1px solid var(--color30);
  word-break: break-all;
}

.table__images_head {
  text-align: center;
  background-color: var(--color20);
}

.table__copy_body td,
.table__images_body td {
  border-top: 1px solid var(--color30);
}

.table__copy_body td:not(:last-of-type),
.table__images_body td:not(:last-of-type) {
  border-right: 1px solid var(--color30);
}

.table__error {
  color: red;
}

.table__text {
  text-align: center;
}

.table__rotate {
  text-align: center;
}

.table__img_0,
.table__img_90,
.table__img_180,
.table__img_270 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-width: 280px;
  aspect-ratio: 1;
}
.table__img_90 {
  transform: rotateZ(90deg);
}
.table__img_180 {
  transform: rotateZ(180deg);
}
.table__img_270 {
  transform: rotateZ(270deg);
}
