:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --color00: #fff;
  --color10: #fff;
  --color15: #f7f4f0;
  --color20: #c8c8c8;
  --color30: #bebebe;
  --color40: #b4b4b4;
  --color50: #047db7ff;
  --color60: #00639bff;
  --color70: #2b5278;
  --color80: #1f3a55;
  --color90: #17212b;
  --color100: #888;
  --color100: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color00: #000;
    --color10: #0e1621;
    --color15: #17212b;
    --color20: #1f3a55;
    --color30: #2b5278;
    --color40: #00639bff;
    --color50: #047db7ff;
    --color60: #3998d3ff;
    --color70: #5ab3f0ff;
    --color80: #8df;
    --color90: #cef;
    --color95: #888;
    --color100: #fff;
  }
}

html {
  color: var(--color100);
  background: linear-gradient(to bottom, transparent, var(--color15)) var(--color10);
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--color90);
  text-decoration: inherit;
  transition: opacity 0.25s ease-in;
}
a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  color: var(--color95);
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color10);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.footer {
  color: var(--color95);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem 0 1rem;
  background-color: var(--color10);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.4);
}

.author__links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo__links {
  display: flex;
  max-height: 30px;
  max-width: 277.6px;
  justify-content: space-between;
  margin-right: auto;
}
.logo__links img {
  height: 100%;
  width: 100%;
}
.logo__links a:nth-child(1) {
  flex-basis: 156px;
}
.logo__links a:nth-child(2) {
  flex-basis: 101.6px;
}

code {
  color: var(--color60);
  font-size: 1.3em;
}
